/* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
body
{
    
    /* background-color: black; */
}
.buttonsub
{
    font-weight: bold;
    color: #fff;
    background-color: #04a1db;
    border-color: #04a1db;
    padding:5px;
    width: 75px;
    border-radius: 10px;
    margin-right: 20px;
    /* font-weight: bolder; */
}
.options
{
    margin-top: 50px;
}
.month
{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: center;
}
.monthname
{
    background-color: #0484dc;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 10px;
}
.dates
{
    padding: 10px;
    /* color: white; */
    /* border: 1px solid black; */
}
.weeksnameindi
{
    padding: 10px;
    /* color: white; */
    /* border: 1px solid black; */
}

.weeks
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.weeksname
{
    display: flex;
    justify-content: center;
}